<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-book-open"></i>
            <a href="#/add_course">Courses</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-notebook"></i>
            Add Course
        </li>
    </ul>
</div>
<h3 class="page-title">
    Add Course
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">

    <div class="tab-pane" id="tab_1">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-notebook"></i>Course Information
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <!--<h3 class="form-section">Person Info</h3>-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Course Title</label>
                                    <input type="text" id="username" class="form-control" placeholder="e.g. Project Management">
                                    <!--<span class="help-block">
                                    This is inline help </span>-->
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Course Description</label>
                                    <textarea id="password" class="form-control" placeholder="e.g. Advanced course in Project Management" style="resize:none" rows="6"></textarea>
                                </div>
                            </div>
                            <!--/span-->
                        </div>


                    </div>
                    <div class="form-actions right">
                        <button type="button" class="btn default">Cancel</button>
                        <button type="submit" class="btn red"><i class="fa fa-check"></i> Save</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Index.init();
    Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->