<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Dashboard</a>
		</li>
	</ul>
    <!---
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	-->
</div>
<h3 class="page-title">
	Welcome to the Alliance E-Learning System!
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">

	<div class="note note-success note-bordered">
		<h3>Alliance E-Learning System<span data-close="note"></span></h3>
		<p>
			This E-Learning tool will be a good medium in disseminating information to company employees especially to those who are not able to go and attend the lectures. Moreover, this will become the repository of all multimedia presentation materials and other resources. Lastly, this will become cost and time efficient both to the company and employees.
		</p>
	</div>

	<!-- BEGIN DASHBOARD STATS -->
	
	<!-- END DASHBOARD STATS -->
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i>
						<span class="caption-subject font-green-haze bold uppercase">Company Profile</span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
						</a>
					</div>
				</div>
				<div style="height:200px;" class="portlet-body scroller">
					<p>
						<span style="font-weight:bold;">Company Description</span>
						<br>
						<span style="font-weight:bold;">Alliance Software, Inc.</span> is a global IT services and solutions company, established in 2000. The company's delivery model is anchored on both on-shore and off-shore approach stressing on effective use of the strengths of people, process, and technology. As part of this strategic delivery model, Alliance has established offices in the key markets of Tokyo, Cebu and Manila.
						<!--
						<br><br>
						For IT Services, Alliance has service capabilities for the entire spectrum of the Software Development process; starting from Design (UI and Logic), Development (on various technologies), QA/Testing, Deployment to Documentation (in English and Nihongo).
						<br><br>
						Service offerings include application development outsourcing, high level BPO work, Quality Assurance and Testing Services, UX design, System and Application Documentation and Vulnerability Assessment services.
						<br><br>
						For IT Solutions, Alliance offers practical business solutions packaged under the Alliance Edge brand. Solutions include WebPOS, Accounting package, HRIS + Payroll package, CRM, Messaging and collaboration solutions.
						<br><br>
						Alliance is an ISO 9001 certified company, manifesting in the highest quality levels in our management and IT service delivery processes.
						<br><br>
						Alliance's main delivery center is located in Cebu City, Philippines. On-shore offices in Manila and Tokyo provide sales/marketing and technical support services.
						-->
					</p>
					<div>
						<span style="font-weight:bold;">Vision</span>
						<br>
						"To be the <span style="color:#B40404;">premier Filipino global IT services and solutions company</span> known for our advanced technology, mature yet evolving process, the highest level of quality delivery and our commitment to exceed customer expectations."
					</div>
					<br>
					<div>
						<span style="font-weight:bold;">Mission</span>
						<br>
						"We are the partner of choice for the world's leading companies because we help them <span style="color:#B40404;">create, build</span> and <span style="color:#B40404;">maintain innovative, reliable,</span> and <span style="color:#B40404;">cost-effective IT solutions</span> while maintaining unity and a mindset of excellence with colleagues, external partners and society through the development of mutually beneficial collaborations."
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i>
						<span class="caption-subject font-green-haze bold uppercase">Alliance Advantage</span>
						<span class="caption-helper">Why Alliance?</span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div style="height:200px;" class="table-borderless table-scrollable-borderless scroller">
						<table class="table table-hover table-light">
							<tr>
								<td class="fit">
									<span class="bold">01</span>
								</td>
								<td>
									<span class="primary-link">Strong Adherence to Quality</span>
								</td>
							</tr>
							<tr>
								<td class="fit">
									<span style="font-weight:bold;">02</span>
								</td>
								<td>
									<span class="primary-link">High Technical Competence</span>
								</td>
							</tr>
							<tr>
								<td class="fit">
									<span style="font-weight:bold;">03</span>
								</td>
								<td>
									<span class="primary-link">Customer-centric Approach</span>
								</td>
							</tr>
							<tr>
								<td class="fit">
									<span style="font-weight:bold;">04</span>
								</td>
								<td>
									<span class="primary-link">In-Depth Experience</span>
								</td>
							</tr>
							<tr>
								<td class="fit">
									<span style="font-weight:bold;">05</span>
								</td>
								<td>
									<span class="primary-link">Effective Use of Application Frameworks</span>
								</td>
							</tr>
							<tr>
								<td class="fit">
									<span style="font-weight:bold;">06</span>
								</td>
								<td>
									<span class="primary-link">Global Bridge Engineering Service</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light tasks-widget">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i>
						<span class="caption-subject font-green-haze bold uppercase">Contact & Other Information</span>
						<span class="caption-helper">Looking for Me?</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="scroller">
						<table class="table table-light table-hover">
							<tr>
								<td>
									<span style="font-weight:bold;">Company Name:</span>
								</td>
								<td>
									Alliance Software Inc.
								</td>
							</tr>
							<tr>
								<td rowspan="3">
									<span style="font-weight:bold;">Date Established:</span>
								</td>
								<td>
									Cebu Office - Established in April 2000
								</td>
							</tr>
							<tr>
								<td>
									Manila Office - Established in April 2002
								</td>
							</tr>
							<tr>
								<td>
									Tokyo Office - Established in April 2006
								</td>
							</tr>
							<tr>
								<td>
									<span style="font-weight:bold;">President:</span>
								</td>
								<td>
									Mr. Robert J. Cheng
								</td>
							</tr>
							<tr>
								<td>
									<span style="font-weight:bold;">Manpower:</span>
								</td>
								<td>
									220 Employees as of April 2014
								</td>
							</tr>
							<tr>
								<td>
									<span style="font-weight:bold;">Capitalization</span>
								</td>
								<td>
									$2 Million
								</td>
							</tr>
							<tr>
								<td rowspan="2">
									<span style="font-weight:bold;">Business Domain</span>
								</td>
								<td>
									IT Services
								</td>
							</tr>
							<tr>
								<td>
									IT Solutions
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	Index.init();    
	Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->