<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-book-open"></i>
            <a href="#/add_course">Courses</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-notebook"></i>
            View Course
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="col-md-12">
<!-- BEGIN Portlet PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"></i>{{course.title}}
			</div>
		</div>
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-6">
				<!-- BEGIN Portlet DESC-->
				<div class="portlet box purple">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>Description
						</div>
					</div>
					<div class="portlet-body">
						<div class="scroller" style="height:200px">
							{{course.description}}
						</div>
					</div>
					
				</div>
				<!-- END Portlet DESC-->
				</div>

				<div class="col-md-6">
				<!-- BEGIN Portlet PRESENT-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>Presentations
						</div>
						<div class="actions">
							<a href="javascript:;" class="btn green btn-sm">
							<i class="fa fa-plus"></i> Upload Presentation </a>
							<a href="javascript:;" class="btn red btn-sm">
							<i class="fa fa-trash-o"></i> Delete </a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="scroller" style="height:200px">
							{{course.presentations}}
						</div>
					</div>
				</div>
				<!-- END Portlet PRESENT-->
				</div>

			</div>

			<!--NEW ROW-->
			<div class="row">
				<div class="col-md-12">
				<!-- BEGIN Portlet QUIZ-->
				<div class="portlet box blue-hoki">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>Quizzes
						</div>
						<div class="actions">
							<a href="/courses/courseid/addquiz" class="btn green btn-sm">
							<i class="fa fa-plus"></i> Add Quiz </a>
							<a href="javascript:;" class="btn red btn-sm">
							<i class="fa fa-trash-o"></i> Delete Quiz </a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="scroller" style="height:150px">
							{{course.quizzes}}
						</div>
					</div>
				</div>
				<!-- END Portlet QUIZ-->
				</div>
			</div>
		</div>
	</div>
<!-- END Portlet PORTLET-->
</div>
			
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Index.init();
    Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->
